body {
  font-family: 'Quicksand', sans-serif;
  color: #2f2f2f;
  background-image: url("img/fondoblanco.jpg");
}

h1 {
  color: #2a2a2a;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #ff0000;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ff0000;
}

.error{
	color: red;
	font-weight: bold;
}

.cont {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
}

.actividad {
    background-color: white;
    padding: 15px;
    width: 800px;
}

.form {
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  width: 300px;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}

.button {
  font-family: 'Roboto', sans-serif;
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 15px;
}

.button:focus {
  outline: none;
}

.button:hover {background-color: #2a2a2a}

/* MENÚ */


.menu ul {
	width: 100%;
  display: inline-flex;
  justify-content: space-around;
  border-bottom: 1px solid hsl(0, 0%, );
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #f93943;
}

.menu li a {
  display: inline-flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  padding: .6em 1em;
}

.menu li a:hover {
  background: #fcb0b3;
}


/* GALERÍA */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: baseline;
}

.gallery img {
  width: 100%;
}

.uno {
	width: 250px;
	padding: 4px;
}